.t-blog
  .o-side__left.-fixed
    - @articles.each do |article|
      = link_to edit_article_path article do 
        %li
          = article.name
          = article.created_at.strftime('%c')
  .o-main
    - if flash.now[:danger].present?
      = h(flash.now[:danger])
    = form_for @article do |f|
      = f.text_field :name
      = f.cktext_area :body
      
      = f.select :article_tag_mapping_id, Tag.all.map{|t| [t.category, t.id]}, {}
      = f.submit '送信'
