.t-blog
  .o-side__left.-wall
    %ul.m-menu__list
      %li
        | sort!
      %li
        \-> .tag?
      - @tags.each do |tag|
        = link_to articles_path q:{article_tag_mapping_id_eq: tag.id} do
          %li
            \##{tag.category}
      %li
        \-> .date?
      - Article.all.each do |article|
        = link_to articles_path q:{created_at_eq: article.created_at} do
          %li
            = article.created_at.strftime('%c')

      %li
        \-> .keyword?
      %li
        Food
      = link_to articles_path do
        %li
          \-> .reset!
  .o-clearfix
  %main.o-main
    - if @articles.size > 0
      - @articles.each do |article|
        %section.m-articleBox
          %h2.a-label.-underLine
            = article.name
          %article.a-label__clamp
            = strip_tags article.body
          %h3
            = article.created_at.strftime('%c')
    - else
      準備中
  .o-side__right

