!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .p-top
      %header.o-header
        %h1 ブログ
        %nav.m-menu
          %ul.m-menu__list
            %li.a-button__menu
              = link_to '/author' do
                Author
            %li.a-button__menu
              = link_to articles_path do
                Articles
            %li.a-button__menu
              = link_to '/' do
                Top
            -# - if user.admin?
            %li.a-button__menu
              = link_to new_article_path do
                Post
            %li.a-button__menu
              -# = link_to edit_article_path do
                Edit

      = yield
      %footer.o-footer
        | test
        | test
        | test
        | test
        | test
