!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag 'github.gif'
  %body
    .p-top
      %header.o-header
        %ul.m-menu__boxWrap
          = link_to '/' do
            %li.a-box
              Top
          = link_to '/author' do
            %li.a-box
              Author
          = link_to articles_path do
            %li.a-box
              Articles
          = link_to articles_path do
            %li.a-box
              Bookmark
          -# %li.a-box
          -# %li.a-box

        .m-menu__boxWrap.-heroImg
          = image_tag 'up.svg', alt: '', size: '100x100', class: ''
        %ul.m-menu__boxWrap
          %li.a-box
          = link_to tags_path do
            %li.a-box
              Post_Tags
         
          = link_to new_article_path do
            %li.a-box            
              Post
          = link_to edit_articles_path do
            %li.a-box
              Post_edit
      = yield
      %footer.o-footer
        © 2018 Akane Yamashita All Rights Reserved.